body {
  background-color: #D0D5D6;
  font-weight: 300;
}

#itinerator {
  display: flex;
}

div#main {
  margin-left: auto;
  margin-right: auto;
}

#creation {
  display: inline-block;
  vertical-align: top;
}

#itinerary {
  display: inline-block;
  margin-top: auto;
  vertical-align: top;
}